


# data processing:
pandas
numpy

# dataviz:
matplotlib
#seaborn
plotly
kaleido # for exporting plotly images to png / html


# machine learning:
scikit-learn
#category_encoders
#tensorflow
# classification:
xgboost
#lightgbm
# clustering:
umap-learn
kmodes
hdbscan

# automated tests:
pytest
